.instructions {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.githubStar {
  position: relative;
  top: 29px;
  padding-left: 20px;
}
.checkBox {
  margin-top: 6px;
  margin-bottom: 6px;
  border-radius: 3px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}
#editor {
  height: 460px;
  position: relative;
  border-radius: 3px;
}
body {
  padding: 90px 90px 90px 90px;
  padding-bottom: 0;
  background-color: rgba(0,0,0,0.03);
}
form {
  height: auto;
  max-height: 68vh;
  overflow-x: hidden;
}
